---
import { markdownify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

const { title, subtitle, description } = (
  (await getEntry(
    "howItWorksBannerSection",
    "how-it-works-banner"
  )) as CollectionEntry<"howItWorksBannerSection">
).data;
---

<section class="section pt-24">
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center lg:col-10" data-aos="fade-up-sm">
        {
          subtitle && (
            <p
              class="mb-2 font-medium text-tertiary"
              set:html={markdownify(subtitle)}
            />
          )
        }
        {title && <h1 class="mb-6" set:html={markdownify(title)} />}
        {
          description && (
            <p class="text-lg/[inherit]" set:html={markdownify(description)} />
          )
        }
      </div>
    </div>
  </div>
</section>

