---
import { markdownify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

const { title, subtitle, description, list } = (
  (await getEntry(
    "joinRevolutionSection",
    "join-revolution"
  )) as CollectionEntry<"joinRevolutionSection">
).data;
---

<section class="section bg-light">
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center lg:col-10" data-aos="fade-up-sm">
        <!-- {
          subtitle && (
            <p
              class="mb-2 font-medium text-tertiary"
              set:html={markdownify(subtitle)}
            />
          )
        } -->
        {title && <h2 class="mb-6" set:html={markdownify(title)} />}
        {
          description && (
            <p class="text-lg/[inherit]" set:html={markdownify(description)} />
          )
        }
      </div>
      <div class="col-12 pt-12">
        {
          list && (
            <div class="row">
              <div class="mx-auto lg:col-10" data-aos="fade-up-sm" data-aos-delay="100">
                <div class="rounded-xl bg-white p-8 md:rounded-3xl md:p-12">
                  <ul class="space-y-5">
                    {list.map((item, index) => (
                      <li class="flex items-start gap-4" data-aos="fade-up-sm" data-aos-delay={200 + index * 50}>
                        <div class="flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-full bg-tertiary text-text-light">
                          <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
                            <path
                              fill-rule="evenodd"
                              d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                              clip-rule="evenodd"
                            />
                          </svg>
                        </div>
                        <span class="text-lg/[inherit] font-medium" set:html={markdownify(item)} />
                      </li>
                    ))}
                  </ul>
                </div>
              </div>
            </div>
          )
        }
      </div>
    </div>
  </div>
</section>

