---
import { markdownify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";
import ComparisonChart from "@/components/ComparisonChart";

const { quote, table, supporting_quote } = (
  (await getEntry(
    "socialProofSection",
    "social-proof"
  )) as CollectionEntry<"socialProofSection">
).data;
---

<section class="section">
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center lg:col-10" data-aos="fade-up-sm">
        {
          quote && (
            <blockquote class="mb-12 text-2xl font-bold text-tertiary italic lg:text-3xl">
              "{quote}"
            </blockquote>
          )
        }
      </div>
      <div class="col-12" data-aos="fade-up-sm" data-aos-delay="200">
        <ComparisonChart client:load rows={table.rows} />
      </div>
      <div class="mx-auto text-center lg:col-10 pt-12" data-aos="fade-up-sm">
        {
          supporting_quote && (
            <p
              class="text-lg font-medium text-text-dark italic"
              set:html={markdownify(supporting_quote)}
            />
          )
        }
      </div>
    </div>
  </div>
</section>

